.forgot-password-form {
  height: 100%;
  width: 100%;
  padding: 15px;

  .captcha-container {
    margin-top: 10px;
  }

  .continue-button {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
}
