@import 'Src/core/common.scss';

.register-form {
  height: 100%;
  width: 100%;
  padding: 15px;

  .facebook-auth-button,
  .google-auth-button {
    display: block;
    color: #ffffff;
    text-decoration: none;
    margin: 15px 0;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 15px;
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;

    .Icon:first-child {
      margin: 0 25px 0 10px;
    }

    .Icon:last-child {
      margin: 0 10px 0 auto;
    }
  }


  .separator {
    text-align: center;
    font-size: 1.2rem;
  }

  .facebook-auth-button {
    background: #3b5998;
  }

  .google-auth-button {
    background: #dd4b39;
  }

  .captcha-container {
    margin-top: 20px;
  }

  .centered-button {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  .form-complete {
    text-align: center;

    div {
      color: #333333;
      margin: 20px 0 0;
    }
  }
}

.register-field {
  position: relative;

  &.error {
    input {
      border: solid thin $color-danger;
      margin: 14px 0;
    }

    .message {
      position: absolute;
      bottom: -5px;
      right: 0;
      color: $color-danger;
      font-size: 0.7rem;
    }
  }
}
