@import 'Src/core/common.scss';

.register-page {
  padding-bottom: 50px;

  .heading-container {
    text-align: center;
    margin: 10px;
  }

  .form-container {
    height: 100%;
    overflow: hidden;
    width: 420px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .register-page {
    .form-container {
      width: 100%;
    }
  }
}
