$color-primary:      #00a1f8;
$color-info:         #289EB9;
$color-success:      #4eb662;
$color-danger:       #e05454;
$color-warning:      #e0c354;
$color-disabled:     #666666;
$color-light:        rgba(245, 245, 245, 1);

$text-color-primary:      #00a1f8;
$text-color-info:         #289EB9;
$text-color-success:      #155724;
$text-color-danger:       #e05454;
$text-color-warning:      #856404;
$text-color-disabled:     #666666;
$text-color-light:        rgba(245, 245, 245, 1);

$background-primary:      #B2DDF5;
$background-info:         #cbf5ff;
$background-success:      #d4edda;
$background-danger:       #f8d7da;
$background-warning:      #fff3cd;
$background-disabled:     #DFDFDF;
$background-light:        rgba(245, 245, 245, 1);

$border-primary:      #b8daff;
$border-info:         #B8E9F5;
$border-success:      #c3e6cb;
$border-danger:       #f5c6cb;
$border-warning:      #ffeeba;
$border-disabled:     #DFDFDF;
$border-light:        rgba(245, 245, 245, 1);


$text-color-primary: #ffffff;
$input-color:        #e6e6e6;

@mixin scrollbar() {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $color-light;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: $color-light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
  }
}


/*
 * Text utils
 */

.text-danger   { color: $color-danger; }
.text-primary  { color: $color-primary; }
.text-info     { color: $color-info; }
.text-success  { color: $color-success; }
.text-warning  { color: $color-warning; }
.text-disabled { color: $color-disabled; }
.text-light    { color: $color-light; }
.text-muted    { color: $color-disabled; }


/*
 * Layout
 */

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row--vmargin {
  margin-top: 15px;
  margin-bottom: 15px;
}
.flex-row--hmargin {
  margin-left: 15px;
  margin-right: 15px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row > *, .flex-column > * {
  flex: 0 0 auto;
}

.flex-fill {
  flex: 1 1;
}

.flex-align-center {
  align-items: center;
}
