$color-primary:      #00a1f8;
$color-secondary:    #ffffff;
$color-info:         #289EB9;
$color-success:      #4eb662;
$color-danger:       #e05454;
$color-warning:      #e0c354;
$color-disabled:     #666666;
$color-light:        rgba(245, 245, 245, 1);

$text-color-primary:        #00a1f8;
$background-color-primary:  #B9E5FD;
$border-color-primary:      #4DBCF8;
$hr-color-primary:          #00a1f8;
$link-color-primary:        #0087CF;

$text-color-secondary:      #777777;
$background-color-secondary:#F7F7F7;
$border-color-secondary:    #7D7D7D;
$hr-color-secondary:        #5E5E5E;
$link-color-secondary:      #5E5E5E;

$text-color-success:        #3c763d;
$background-color-success:  #dff0d8;
$border-color-success:      #d6e9c6;
$hr-color-success:          #c9e2b3;
$link-color-success:        #2b542c;

$text-color-info:           #31708f;
$background-color-info:     #d9edf7;
$border-color-info:         #bce8f1;
$hr-color-info:             #a6e1ec;
$link-color-info:           #245269;

$text-color-warning:        #8a6d3b;
$background-color-warning:  #fcf8e3;
$border-color-warning:      #faebcc;
$hr-color-warning:          #f7e1b5;
$link-color-warning:        #66512c;

$text-color-danger:         #a94442;
$background-color-danger:   #f2dede;
$border-color-danger:       #ebccd1;
$hr-color-danger:           #e4b9c0;
$link-color-danger:         #843534;

$text-color-disabled:       #666666;
$background-color-disabled: #DFDFDF;
$border-color-disabled:     #DFDFDF;
$hr-color-danger:           #666666;
$link-color-danger:         #666666;

$text-color-light:          rgba(245, 245, 245, 1);
$background-color-light:    rgba(245, 245, 245, 0.5);
$border-color-light:        rgba(245, 245, 245, 1);
$hr-color-danger:           rgba(245, 245, 245, 1);
$link-color-danger:         rgba(245, 245, 245, 1);


$input-border-color:              #d0d0d0;
$input-background-color:          #fdfdfd;
$input-background-color-disabled: #e9e9e9;

@mixin input() {
  background: $input-background-color;
  border: 2px solid $input-border-color;
  border-radius: 4px;

  &:hover:not([disabled]):not(.disabled) {
    border-color: darken($input-border-color, 10%);
  }
  &[disabled],
  &.disabled {
    color: $text-color-disabled;
    background-color: $input-background-color-disabled;
  }

}


@mixin scrollbar() {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $text-color-light;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: $text-color-light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
  }
}
