$color-primary:      #00a1f8;
$color-info:         #289EB9;
$color-success:      #4eb662;
$color-danger:       #e05454;
$color-warning:      #e0c354;
$color-disabled:     #666666;
$color-light:        rgba(245, 245, 245, 1);

$text-color-primary:        #00a1f8;
$background-color-primary:  #B9E5FD;
$border-color-primary:      #4DBCF8;
$hr-color-primary:          #00a1f8;
$link-color-primary:        #0087CF;

$text-color-success:        #3c763d;
$background-color-success:  #dff0d8;
$border-color-success:      #d6e9c6;
$hr-color-success:          #c9e2b3;
$link-color-success:        #2b542c;

$text-color-info:           #31708f;
$background-color-info:     #d9edf7;
$border-color-info:         #bce8f1;
$hr-color-info:             #a6e1ec;
$link-color-info:           #245269;

$text-color-warning:        #8a6d3b;
$background-color-warning:  #fcf8e3;
$border-color-warning:      #faebcc;
$hr-color-warning:          #f7e1b5;
$link-color-warning:        #66512c;

$text-color-danger:         #a94442;
$background-color-danger:   #f2dede;
$border-color-danger:       #ebccd1;
$hr-color-danger:           #e4b9c0;
$link-color-danger:         #843534;

$text-color-disabled:       #666666;
$background-color-disabled: #DFDFDF;
$border-color-disabled:     #DFDFDF;
$hr-color-danger:           #666666;
$link-color-danger:         #666666;

$text-color-light:          rgba(245, 245, 245, 1);
$background-color-light:    rgba(245, 245, 245, 0.5);
$border-color-light:        rgba(245, 245, 245, 1);
$hr-color-danger:           rgba(245, 245, 245, 1);
$link-color-danger:         rgba(245, 245, 245, 1);


$input-color:        #e6e6e6;


@mixin scrollbar() {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $text-color-light;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: $text-color-light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-primary;
  }
}


/*
 * Text utils
 */

.text-danger   { color: $color-danger; }
.text-primary  { color: $color-primary; }
.text-info     { color: $color-info; }
.text-success  { color: $color-success; }
.text-warning  { color: $color-warning; }
.text-disabled { color: $color-disabled; }
.text-light    { color: $color-light; }
.text-muted    { color: $color-disabled; }


/*
 * Layout
 */

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row--vmargin {
  margin-top: 15px;
  margin-bottom: 15px;
}
.flex-row--hmargin {
  margin-left: 15px;
  margin-right: 15px;
}
.flex-row--margin {
  margin: 15px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row > *, .flex-column > * {
  flex: 0 0 auto;
}

.flex-fill {
  flex: 1 1;
}

.flex-align-center {
  align-items: center;
}

.flex-item-rmargin {
  margin-right: 5px;
}


/*
 * Native elements
 */

pre {
  font-weight: bold;
  white-space: pre-wrap;
}

/*
 * Elements
 */

.tags {
  display: flex;

  .tag {
    padding: 5px 10px;
    margin: 10px 10px 0 0;
    border-radius: 5px;
    color: $text-color-primary;
    background-color: $background-color-primary;
    border: 1px solid $color-primary;
    font-weight: bold;
    font-size: 12px;
  }
}


.button {
  min-width: 70px;
  padding: 5px 10px;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  font-size: inherit;
  font-weight: bold;
  background-color: $color-primary;
  transition: all .15s ease;
  text-decoration: none;
}
.button:hover{
  background-color: lighten($color-primary, 10%);
  text-decoration: none;
}
.button-group .button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid rgba(black, 0.1);
}
.button-group .button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-button-link {
  background: #00a1f8;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 0.9rem;
  margin-right: 20px;
  padding: 4px 20px;
  text-decoration: none;
}
