@import 'Src/core/common.scss';

.Emails {
  padding: 60px;
}

.EmailList__item {
  padding: 15px 0;
  border-bottom: solid thin rgba(100, 100, 100, 0.2);
  display: flex;
  justify-content: space-between;

  a {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $color-primary;
    }
  }

  .button-group {
    display: flex;
    flex-direction: row;
  }

  button {
    width: 70px;
    padding: 5px 10px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    background-color: $color-primary;
    transition: all .15s ease;
  }
  button:hover{
    background-color: lighten($color-primary, 10%);
  }
  .button-group button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid rgba(black, 0.1);
  }
  .button-group button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.EmailList__header {
  font-weight: bold;
  border-bottom: solid thin rgba(100, 100, 100, 0.2);
}

.EmailList__title {
  width: 250px;
  flex: 0 0 auto;
  margin-right: 1em;
}

.EmailList__author {
  width: 180px;
  flex: 0 0 auto;
  margin-right: 1em;
}

.EmailList__sendDate {
  width: 90px;
  flex: 0 0 auto;
  .EmailList__item & {
    font-size: 0.8em;
  }
}

.EmailList__sent {
  width: 40px;
  flex: 0 0 auto;
}
