@import 'Src/core/common.scss';

.project-list-item {
  padding: 25px 0 15px;
  border-bottom: solid thin rgba(0, 0, 0, 0.1);

  .details {
    color: #000000;
    text-decoration: none;

    .title {
      color: #103d61;
      font-size: 1.2rem;
      font-weight: 700;
      display: flex;
      justify-content: space-between;

      .approved {
        font-size: 0.8rem;
        color: $color-success;
      }
    }

    .abstract {
      padding: 10px 0;
      font-size: 1rem;
      font-weight: 300;
    }
  }

  .by {
    font-size: 0.8rem;

    a {
      font-size: 0.9rem;
      font-weight: 700;
      color: $color-primary;
      text-decoration: none;
    }

    span {
      font-weight: 300;
      color: #666666;
    }
  }
}
