@import 'Src/core/common.scss';

.project-list-item {
  padding: 20px;

  .details {
    color: #000000;
    text-decoration: none;

    .title {
      color: #103d61;
      font-size: 1.2rem;
      font-weight: 700;
    }

    .abstract {
      padding: 10px 0 15px;
      font-size: 1.1rem;
      font-weight: 300;
    }
  }

  .by {
    font-size: 0.9rem;

    a {
      font-weight: 700;
      color: $color-primary;
      text-decoration: none;
    }

    span {
      font-weight: 300;
      color: #666666;
    }
  }
}
