@import 'Src/core/common.scss';

.side-nav {
  background: $color-primary;
  height: calc(100% - 110px);
  width: 250px;
  border-radius: 0 20px 0 0;
  padding: 30px 0;
  position: relative;

  .logout-container {
    position: absolute;
    left: 25px;
    bottom: 25px;
  }
}

@media only screen and (max-height: 670px) {
  .side-nav {
    overflow-y: auto;
    overflow-x: hidden;

    .logout-container {
      padding-top: 40px;
      position: relative;
    }
  }
}
