@import 'Src/core/common.scss';

.professor-setup-page {
  padding-bottom: 50px;

  .note {
    text-align: center;
    margin: 30px 0 0;
  }

  .logout-button {
    font-size: 1rem;
    color: $color-primary;
  }

  .heading-container {
    text-align: center;
    margin: 10px;
  }

  .form-container {
    height: 100%;
    overflow: hidden;
    width: 420px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 500px) {
  .professor-setup-page {
    .form-container {
      width: 100%;
    }
  }
}
