@import 'Src/core/common.scss';

.project-details {
  font-weight: 300;

  .abstract {
    padding: 20px 0;
    font-weight: 300;
    font-size: 1.2rem;
  }

  .sub-heading {
    margin: 20px 0 15px;
    font-weight: 700;
    font-size: 1.2rem;
  }

  .details-long {
    & > div {
      & > div:first-child {
        font-weight: 400;
        padding: 30px 0 10px;
        font-size: 1.2rem;
      }
    }
  }

  .documents {
    & > div:first-child {
      font-weight: 400;
      padding: 30px 0 10px;
      font-size: 1.2rem;
    }
  }

  .open-for-students {
    font-weight: 400;
  }

  .tags {
    display: flex;
    padding-top: 20px;

    .tag {
      background: $color-primary;
      padding: 5px 10px;
      margin: 10px 10px 0 0;
      border-radius: 5px;
      color: $text-color-primary;
    }
  }

  .details {
    margin: 0px 0 30px;

    div {
      margin: 10px 0;

      span {
        display: inline-block;

        .danger {
          color: $color-danger;
        }

        &:first-child {
          min-width: 250px;
          font-weight: 300;
        }
        &:last-child {
          font-weight: 400;
        }

        &.blue,
        a {
          color: $color-primary;
          font-weight: 700;
          font-weight: 1rem;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }

  .documents {
    div:first-child {
      display: flex;
    }

    .document {
      div:first-child {
        padding: 10px;
      }

      div:last-child {
        margin-left: 20px;
      }

      a {
        text-decoration: none;
        color: $color-primary;
        font-weight: 400;
        margin-left: 20px;
      }

      display: flex;
    }

    .delete-button {
      background: none;
      border: none;
    }

    .dropzone-container {
      margin: 20px 0 0;
      height: 250px;
    }

    .selected-files {
      font-size: 0.8rem;
      color: #666666;
      padding: 15px 0 0;
      margin-bottom: 30px;

      span {
        font-size: 1rem;
        color: #000000;
      }

      .file-list {
        margin: 15px 0 0;
        max-height: 200px;
        overflow: auto;
        @include scrollbar();
        border-left: solid thin #dddddd;
        border-right: solid thin #dddddd;

        .file {
          padding: 5px 10px;
          border-bottom: solid thin #dddddd;
          display: flex;
          justify-content: space-between;

          .remove-icon {
            background: none;
            color: #666666;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }

  .apply {
    margin: 50px 0 0;
    text-align: right;
  }
}
