@import 'Src/core/common.scss';

.InputField {
  margin: 15px 0;
  padding: 14px;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;

  @include input;

  width: 100%;

  &[type='date'] {
    text-transform: uppercase;

    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.InputField--small {
  margin: 5px 0;
  padding: 7px 14px;
  font-size: 15px;
}
.InputField--medium { /* default */ }
.InputField--large {}

