@import 'Src/core/common.scss';

.match-list {
  padding: 20px 0;
  font-size: 0.8rem;

  .match-item {
    padding: 15px 0;
    border-bottom: solid thin rgba(100, 100, 100, 0.2);
    display: flex;
    justify-content: space-between;

    a {
      color: #000000;
      font-weight: 700;
      text-decoration: none;
      transition: color 0.2s ease;

      &.project-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
        display: block;
      }

      &:hover {
        color: $color-primary;
      }
    }

    button {
      padding: 5px 10px;
      border: none;
      color: #ffffff;
      border-radius: 5px;
      background: $color-primary;
    }
  }
}
