@import 'Src/core/common.scss';

.rounded-button {
  border-radius: 20px;
  border: none;
  padding: 7px 25px;
  font-size: 1rem;
  font-weight: bold;
  outline: none;

  color: white;
  background: $color-primary;

  transition: background-color .15s ease;

  &:focus {
    border: solid 1px darken($color-primary, 20);
    margin: -1px;
  }

  &.danger   { background-color: $color-danger; }
  &.primary  { background-color: $color-primary; }
  &.info     { background-color: $color-info; }
  &.success  { background-color: $color-success; }
  &.warning  { background-color: $color-warning; }
  &.disabled { background-color: $color-disabled; }
  &.light    { background-color: $color-light; }

  &.danger:hover   { background-color: lighten($color-danger, 10%); }
  &.primary:hover  { background-color: lighten($color-primary, 10%); }
  &.info:hover     { background-color: lighten($color-info, 10%); }
  &.success:hover  { background-color: lighten($color-success, 10%); }
  &.warning:hover  { background-color: lighten($color-warning, 10%); }
  &.disabled:hover { background-color: lighten($color-disabled, 10%); }
  &.light:hover    { background-color: lighten($color-light, 10%); }


  &[disabled] {
    cursor: not-allowed;
  }
  &[disabled].danger   { background-color: lighten($color-danger, 20%); }
  &[disabled].primary  { background-color: lighten($color-primary, 20%); }
  &[disabled].info     { background-color: lighten($color-info, 20%); }
  &[disabled].success  { background-color: lighten($color-success, 20%); }
  &[disabled].warning  { background-color: lighten($color-warning, 20%); }
  &[disabled].disabled { background-color: lighten($color-disabled, 20%); }
  &[disabled].light    { background-color: lighten($color-light, 20%); }
}

a.rounded-button {
  text-decoration: none;
}
