@import 'Src/core/common.scss';

.home-page {
  background: url('/images/landingBackground.png');
  background-size: cover;
  background-repeat: no-repeat;

  .obj1,
  .obj2 {
    display: none;
  }

  nav {
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    overflow: hidden;

    .nav-links {
      position: absolute;
      top: 0;
      right: 40px;

      a,
      button {
        text-decoration: none;
        color: white;
        font-size: inherit;
        background: none;
        border: none;
        padding: 25px;
        margin: 0 5px;

        &.sign-in {
          background: #ffffff;
          border-radius: 20px;
          padding: 4px 25px;
          color: $color-primary;
          box-shadow: 0px 0px 15px -2px #ffffff;
          margin: 0 10px;
        }
      }
    }
  }

  .left {
    width: 50%;
    padding-left: 10%;
  }

  section {
    min-height: 100vh;
    max-height: 100vh;
    padding: 30px;
    position: relative;

    &.hero {
      display: flex;
      align-items: center;

      .title {
        font-weight: 800;
        font-size: 2.9rem;
      }

      .sub-title {
        font-weight: 300;
        font-size: 1.1rem;
      }

      .message {
        font-weight: 300;
        padding: 20px 0 25px;
        max-width: 450px;
        color: #555;
      }

      .sign-up {
        text-decoration: none;
        color: #ffffff;
        background: lighten($color-primary, 10);
        padding: 5px 60px 7px;
        font-size: 1.4rem;
        border-radius: 30px;
        box-shadow: 0px 3px 15px -3px lighten($color-primary, 10);
      }
    }

    &.about {
      color: #ffffff;
      padding: 150px 10% 0;
      height: 100%;

      div {
        padding-top: 20vh;
        font-weight: 800;
        width: 100%;
        font-size: 2.3rem;
      }

      p {
        font-weight: 300;
        font-size: 1.3rem;
      }
    }

    &.contact {
      color: #ffffff;
      text-align: center;
      padding-top: 30px;

      .title {
        margin-top: 40px;
        font-weight: 800;
        width: 100%;
        font-size: 2.3rem;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .home-page {
    background: #ffffff;

    .obj1,
    .obj2 {
      display: block;
      height: 60vh;
      position: absolute;
      transform: translateY(-50%);
    }

    .obj1 {
      top: 90vh;
      right: 0;
    }

    .obj2 {
      top: 240vh;
      left: 0;
    }

    .left {
      width: 80%;
      padding-left: 10px;
    }

    nav {
      .nav-links {
        a,
        button {
          color: #000000;
          padding: 25px 10px;

          &.sign-in {
            padding: inherit;
          }
        }
      }
    }

    section {
      max-height: none;
      height: auto;

      &.about {
        color: #000000;
        padding: 0 30px;
        height: auto;
      }

      &.contact {
        height: auto;
        color: #000000;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .home-page {
    .left {
      width: 100%;
    }
    nav {
      justify-content: flex-end;
      .logo {
        display: none;
      }
    }
  }
}
