@import 'Src/core/common.scss';

.text-area {
  resize: none;
  height: 100%;
  margin: 15px 0;
  font-weight: 300;
  padding: 14px;
  font-size: inherit;
  font-family: inherit;

  @include input;

  width: 100%;
}
