@import 'Src/core/common.scss';

.UserList {
  padding: 20px 0;
}

.UserList__item {
  padding: 15px 0;
  border-bottom: solid thin rgba(100, 100, 100, 0.2);
  display: flex;
  justify-content: space-between;

  a {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.2s ease;

    &:hover {
      color: $color-primary;
    }
  }

  .button {
    font-size: 0.8em;
  }
}

.UserList__header {
  font-weight: bold;
  border-bottom: solid thin rgba(100, 100, 100, 0.2);
}

.UserList__name {
  width: 250px;
  flex: 0 0 auto;
  margin-right: 1em;
}

.UserList__type {
  width: 90px;
  flex: 0 0 auto;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.UserList__approved {
  width: 80px;
  flex: 0 0 auto;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.UserList__actions {
  & > *:not(:last-child) {
    margin-right: 1em;
  }
}

