@import 'Src/core/common.scss';

.UserProfile {
  font-size: 1.2rem;
}

.UserProfile__type {
  text-transform: capitalize;
  margin: 40px 0 30px;
  font-weight: 700;
}

.UserProfile__details {
  & > div {
    margin: 30px 0;

    & > * {
      display: inline-block;

      &:first-child {
        min-width: 200px;
        font-weight: 300;
      }
      &:last-child {
        font-weight: 400;
      }
    }
  }
}
