@import 'Src/core/common.scss';

.user-profile {
  font-size: 1.2rem;
  padding: 0 30px;

  .type {
    text-transform: capitalize;
    margin: 40px 0 30px;
    font-weight: 700;
  }

  .details {
    div {
      margin: 30px 0;

      span {
        display: inline-block;

        &:first-child {
          min-width: 200px;
          font-weight: 300;
        }
        &:last-child {
          font-weight: 400;
        }

        &.blue {
          color: $color-primary;
          font-weight: 700;
          font-weight: 1rem;
          text-decoration: none;
        }
      }
    }
  }
}
