@import 'Src/core/common.scss';

$size: 20px;

.checkbox {
  padding: 10px;
  display: flex;
  cursor: pointer;

  input[type='checkbox'] {
    position: absolute;
    z-index: -1;
    appearance: none;
  }

  .fake-checkbox {
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: $size;
    width:  $size;
    min-height: $size;
    min-width:  $size;
    margin-right: 10px;
    @include input;
    border-radius: 5px;

    div {
      height: 100%;
      width: 50%;
      position: absolute;
      top: 0;
      transition: all 0.2s ease;

      &:first-child {
        left: 2px;
      }

      &:last-child {
        right: 0;
      }
    }

    &.checked-true {
      background: none;
      overflow: visible;

      div {
        background: $color-primary;
        border-radius: 10px;
        width: 25%;

        &:first-child {
          height: 50%;
          transform: translate(0px, 7px) rotate(-50deg);
        }

        &:last-child {
          right: 0;
          transform: translate(-4px, 0px) rotate(40deg);
        }
      }
    }
  }

  &:hover {
    background: lighten($color-primary, 45);
    transition: all 0.2s ease;

    .fake-checkbox:not(.checked-true) {
      div {
        background: lighten($color-primary, 45);
      }
    }
  }
}
