@import 'Src/core/common.scss';

.discover-page {
  padding: 60px;

  button {
    color: $color-primary;
    font-family: 1rem;
    background: none;
    border: none;
  }
}

@media only screen and (max-width: 600px) {
  .discover-page {
    padding: 60px 30px;
  }
}
