@import 'Src/core/common.scss';

.discover-page {
  padding: 60px;

  button {
    border: none;
  }
}

.discover-page__filter {
  color: $color-primary;
  font-family: 1rem;
  background: none;
  border: none;
}

@media only screen and (max-width: 600px) {
  .discover-page {
    padding: 60px 30px;
  }
}
