@import 'Src/core/common.scss';

.Snackbar {
  color: $text-color-light;
  position: fixed;
  bottom: -50px;
  left: 50%;
  padding: 10px 30px;
  padding-right: 50px;
  border-radius: 1px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 2px 7px 1px #00000025;
  border: 1px solid black;
  border-radius: 5px;

  transform: translate(-50%, 100%);
  transition: transform 0.2s ease;

  &.shown {
    transform: translate(-50%, -70px);
  }

  &.info {
    color: $text-color-info;
    background: darken($background-color-info, 9%);
    border-color: darken($border-color-info, 40%);
  }
  &.danger {
    color: $text-color-danger;
    background: darken($background-color-danger, 9%);
    border-color: darken($border-color-danger, 40%);
  }
  &.warning {
    color: $text-color-warning;
    background: darken($background-color-warning, 9%);
    border-color: darken($border-color-warning, 40%);
  }
  &.success {
    color: $text-color-success;
    background: darken($background-color-success, 9%);
    border-color: darken($border-color-success, 40%);
  }
}

.Snackbar__hide {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  color: inherit;
  border: 1px solid currentColor;
  border-radius: 4px;
  opacity: 0.7;
}
