.applied-projects-page {
  padding: 60px;

  .applied-list-container {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .applied-projects-page {
    padding: 60px 30px;
  }
}
