@import 'Src/core/common.scss';

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 0.9rem;
  @include input;
  border-style: dashed;
  border-width: 3px;
  color: #666666;
  cursor: pointer;
}

.dropzone__selected-file {
  color: #323232;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 0 5px;
  margin-right: 5px;
}
