.dropzone {
  background: #eeeeee;
  height: 100%;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #666666;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #c2c2c2;
  border-radius: 4px;
}

.dropzone__selected-file {
  color: #323232;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 0 5px;
  margin-right: 5px;
}
