.dropzone {
  background: #eeeeee;
  height: 100%;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #555555;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
