{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": ["dynamic-import-node", "@babel/plugin-syntax-dynamic-import"]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
